// Desktop nav
#ucfhb {
    border-bottom: 5px solid #d9d6d6;
}

#jumbotron-logo {
    background-color: #3d3c3c;
    padding: 15px 20px 25px 20px;

    @media(min-width: $screen-sm-min) {
        padding: 30px 35px 45px 35px;
    }

    img {
        width: 95%;
        margin: 0 auto;
        display: block;

        @include body-prefix('.ie8') {
            max-width: 480px;
        }

        @media(min-width: $screen-sm-min) {
            width: 480px;
        }
    }
}

#header-nav-wrap {
    background-color: #fc0;
    width: 100%;
    position: relative;
    z-index: 1000;
    box-shadow: 0 2px 32px rgba(0,0,0,.5);

    &.affix {
        top: 0;
        position: fixed;
        display: block;
    }
}

#header-menu {
    @include center-block();
    margin: 0 auto;
    //text-align: justify;
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: $container-lg;

    .menu-item-dropdown {
        li {
            position: absolute;
            display: block;
            visibility: hidden;
        }
    }

    li {
        padding: 0;
        display: table-cell;
        text-align: center;

        &.active strong a, &.current-page-ancestor strong a {
            background-color: #FFF;
        }

        &:hover .menu-item-dropdown {
            opacity: 1;
            visibility: visible;
        }

        .menu-item-dropdown {
            opacity: 0;
            transition: opacity .5s linear, visibility .5s linear;
            position: absolute;
            visibility: hidden;
            width: 100%;
            left: 0;
            text-align: left;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: white;
            z-index: 2;

            .content-holder {
                margin: 0 auto;

                @media (min-width: $screen-sm-min) {
                    max-width: $container-sm;
                }

                @media (min-width: $screen-md-min) {
                    max-width: $container-md;
                }

                @media (min-width: $screen-lg-min) {
                    max-width: $container-lg;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }

                a {
                    padding-bottom: 0;
                    padding-top: 0;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    a {
        padding-bottom: 15px;
        padding-top: 15px;
        color: #262626;
        font-size: 17px;
        font-weight: 400;
        display: block;

        @media (max-width: $screen-sm-max) {
            font-size: 13.25px !important;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: #FFF;
            text-decoration: none;
        }
    }

    a[href]:after {
        @media print {
            content: '';
        }
    }
}

.no_nav_separator:after {
    content: '' !important;
}

// Mobile nav
#site-nav-xs {
    //border-radius: 4px;
    margin: 0;
    border: none;
    background-color: #fc0;
    color: #000;

    .navbar-collapse{
        border:none;
    }

    .navbar-brand {
        color: #000;
        //font-family: $font-family-sans-serif, serif;
        font-size: 20px;
    }

    .icon-bar {
        background-color: #000;
    }

    button {
        border: none;
    }
}

#header-menu-xs {
    //font-family: $font-family-sans-serif, serif;
    li {
        margin-bottom: 0;

        &.active a {
            background-color: #000;
            color: #FFF !important;
        }
    }

    a {
        font-size: 14px;
        font-weight: bold;
        color: #000;

        &:hover,
        &:active,
        &:focus {
            color: #FFF;
            text-decoration: none;
            background-color:#efbc00;
        }
    }
}

#section-nav-xs {
    clear: both;
    margin-bottom: 0;

    .navbar-brand {
        float: right;
        color: white;
    }

    button {
        border: none;
    }
}
