// Desktop nav
#ucfhb{
    border-bottom: 5px solid #d9d6d6;
}
#jumbotron-logo {
    background-color: #3d3c3c;
    padding: 15px 20px 25px 20px;
    @media(min-width: $screen-sm-min){
        padding: 30px 35px 45px 35px;
    }

    img {
        width: 95%;
        margin: 0 auto;
        display: block;
        @include body-prefix('.ie8') {
            max-width: 480px;
        }
        @media(min-width: $screen-sm-min){
            width: 480px;        
        }
    }
}

#header-nav-wrap {
    background-color: #fc0;
    width: 100%;
    position: relative;
    z-index: 1000;
}

#header-menu {
    @include center-block();
    margin: 0 auto;
    //text-align: justify;
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: $container-lg;
    @media (min-width: $screen-sm-min) {
        max-width: $container-sm;
    }

    @media (min-width: $screen-md-min) {
        max-width: $container-md;
    }

    @media (min-width: $screen-lg-min) {
        max-width: $container-lg;
    }


    li :not(.menu-item-dropdown li) {
        padding: 0;
        display: table-cell;
        text-align: center;
        &.active strong a, &.current-page-ancestor strong a{
            background-color: #FFF;
        }
        &:hover .menu-item-dropdown{
            opacity: 1;
        }
        .menu-item-dropdown{
            opacity: 0;
            transition: opacity 2s;
            position: fixed;
            width: 100%;
            left: 0;
            background-color: white;
        }
    }

    a {
        color: #262626;
        font-size: 17px;
        font-weight: 400;
        padding-bottom: 15px;
        padding-top: 15px;
        display: block;

        @media (max-width: $screen-sm-max) {
            font-size: 14.25px !important;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: #FFF;
            text-decoration: none;
        }
    }

    a[href]:after {
        @media print {
            content: '';
        }
    }

    /*li.last {
        height: 0;
        visibility: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
    }*/
}

.no_nav_separator:after {
    content: '' !important;
}


// Mobile nav
#site-nav-xs {
    //border-radius: 4px;
    margin: 0;
    border: none;
    background-color:#fc0;
    color: #000;
    .navbar-brand {
        color: #000;
        //font-family: $font-family-sans-serif, serif;
        font-size: 20px;
    }
}

#header-menu-xs {
    //font-family: $font-family-sans-serif, serif;

    li {
        margin-bottom: 0;
        &.active a{
            background-color: #000;
            color: #FFF !important;
        }
    }

    a {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        &:hover,
        &:active,
        &:focus {
             color: #FFF;
             text-decoration: none;
        }
    }

    .last {
        text-align: center;

        a {
            //background-color: #fc0;
            border-radius: 4px;
            //color: #000;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 11px;
            margin: 10px 15px;
            padding: 6px 15px;
        }
    }
}
