#interests{
    width:100%;
    text-align:center;
    .interests_title_wrap{
        background-color: #FC0;
    }
    .interest_title_wrap{
        position: absolute;
        top:0;
        left:0;
        max-height:50%;
    }
    .interest_content_wrap{
        position: absolute;
        top:50%;
        left:0;
        max-height:50%;
    }
}