section#interests {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    .interests_title_wrap {
        background-color: #FC0;
        padding: .75em 0;
        color: #000;
    }

    .interests_wrap {
        text-align: left;
        word-break: break-word;

        @media (max-width: $screen-sm-max) {
            background-image: none;
        }

        .interest_single {
            display: table;
            width: 100%;

            .interest_content {
                padding-left: 15%;

                .interest_title {
                    color: #000;
                    margin: 10px 0;
                    /*h2.background {
                position: relative;
                z-index: 1;
                &:before {
                    border-top: 2px solid #dfdfdf;
                    content:"";
                    margin: 0 auto; // this centers the line to the full width specified 
                    position: absolute; // positioning must be absolute here, and relative positioning must be applied to the parent
                    top: 50%; left: 0; right: 0; bottom: 0;
                    width: 95%;
                    z-index: -1;
                }
                span { 
                    // to hide the lines from behind the text, you have to set the background color the same as the container 
                    background: #fff; 
                    padding: 0 15px; 
                }
            }*/
                }
            }

            .interest_content {
                padding-right: 15%;
                color: #000;
                text-transform: none;
            }

            .interest_icon_wrap {
                display: table-cell;
                width: 20%;
                vertical-align: middle;

                .interest_icon {
                    border-radius: 50%;
                    padding: 5%;
                    border: 4px #FC0 solid;
                    font-size: 1.5em;
                    color: #000;
                }
            }

            &:after {
                content: "";
                display: block;
                width: 95%;
                margin: 1em auto 0;
                border-bottom: 4px solid #e5e5e5;
            }
        }
    }
}
