#interests{
    width:100%;
    .interests_title_wrap{
       	background-color:#FC0;
	    text-align:center;
    }
    .interest_more_btn{
        position: absolute;
        width: 10%;
        right: 0;
    }

}