section#opportunities {
    position: relative;
    width: 100%;
    text-align: left;
    word-break: break-word;

    .opportunities_title_wrap {
        padding-left: 3%;

        .opportunities_title {
            display: inline-block;
        }
    }

    .opportunities_lg_table {
        @media (min-width: $screen-sm-max) {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        .opportunity_single_wrap {
            @media (min-width: $screen-sm-max) {
                display: table-cell;
            }

            .opportunity_single {
                display: table;
                width: 100%;

                @media (min-width: $screen-sm-max) {
                    position: relative;
                }

                .opportunity_content_wrap {
                    padding: 3%;

                    .opportunity_title {
                        color: #000;
                        /*h2.background {
                position: relative;
                z-index: 1;
                &:before {
                    border-top: 2px solid #dfdfdf;
                    content:"";
                    margin: 0 auto; // this centers the line to the full width specified 
                    position: absolute; // positioning must be absolute here, and relative positioning must be applied to the parent
                    top: 50%; left: 0; right: 0; bottom: 0;
                    width: 95%;
                    z-index: -1;
                }
                span { 
                    // to hide the lines from behind the text, you have to set the background color the same as the container 
                    background: #fff; 
                    padding: 0 15px; 
                }
            }*/
                    }

                    .opportunity_type {
                        color: #FC0;
                    }
                }

                .opportunity_icon_wrap {
                    width: 12%;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    background-color: #e5e5e5;
                                    @media (min-width: $screen-sm-max) {
                    display:none;
                }
                    .opportunity_icon {
                        font-size: 1.5em;
                        color: #aaa;
                    }
                }
            }

            :after {
                @media (min-width: $screen-sm-max) {
                    padding-bottom: 100%;
                }
            }
        }
    }
}
