section#spotlights {
    padding: 0 8%;

    .spotlights_title_wrap {
        .spotlights_title {
            font-size: 3em;
            font-weight: bold;
        }

        a {
            color: #aaa;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .spotlight_single {
        display: table;
        width: 100%;
        .spotlight_image_wrap {
            display: table-cell;
            width: 15%;
            vertical-align: top;

            .spotlight_image {
                width: 100%;
            }
        }

        .spotlight_content_wrap {
            display: table-cell;
            padding-left: 3%;
            color: #333;

            .spotlight_type {
                background-color: #FC0;
                text-transform: uppercase;
                color: #333;
            }

            .spotlight_title {
                font-weight: bold;
                padding: 5px 0;
                color: #333;
            }
        }
    }
}
